/*selector unirvesal*/

*{
    margin: 0;
    padding: 0;
}


/*selector de etiqueta*/

body{
    background-image: url(/img/fondo\ mor.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.logoMedia {
    display: block;
    /* Para asegurarse de que la imagen sea un bloque*/
    margin-left: auto;
    /* Centrar horizontalmente */
    margin-right: auto;
    /* Centrar horizontalmente */
    margin-bottom: 20px;
}
/*selector id*/
#contenedor{
    width: 85%;
    height: 460%;
    margin: 10px;
    padding: 5px;
}
#encabezado{
    background-color: black;
    width: 97%;
    height: 140px;
    margin: 1em;
    border-radius: 5px;
    

 }
#menu{
    width: 70%;
    height: 1%;
    margin: 1em;
    border-radius: 5px;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
 }
 
 .logo{
    font-size: 27px;
    color: rgb(247, 248, 248);
    font-weight: 800; 
    text-transform: uppercase;   
    font-style: normal;
    font-family: "Days One", sans-serif;
 
    
 }
 .menu .navbar ul li{
    position: relative;
    float: left;
    text-align: center;
 }
 .menu .navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    color: beige;
    display: block;
    text-align: center;
 }
 .menu .navbar ul li a:hover{
    color: rgb(250, 253, 252);
    text-align: center;
 }
 #menu{
    display: none;
 }
 .menu-icono{
    width: 25px;
 }
 
 .menu label{
    cursor: pointer;
    display: none;
 }
 #menu:checked ~ .navbar{
    display: initial;
 }
 
 @media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        background-color:darkorchid;
        display: none;
    }
   
 
 
 .menu .navbar ul li{
    width: 100%;
 }
 
 #menu:checked ~ .navbar{
    display: initial;
 
 }
 }

/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px;
    margin: 3em;
}
li a:hover{
    color:blueviolet;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    
}
/*selector de clase*/
.img{
    width: 100px;
    height: 120px;
    border-radius: 30px;
    justify-items: center;

}
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    text-align: center;
    color:beige;
}

.pie{
   height: 30px;
   background-color:rgb(178, 107, 245);
   margin: 2em;
   text-align: center;
   padding: 5px;
}
.pie h4{
    padding: 2px;
    color: black;
    font-size: 20px;
}


/*card*/

.card{
    box-shadow: 0 4px 8px 0 black;
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    color: black;
    text-align: center;
    border: 2px solid;
    background-color: aliceblue;
    border-radius: 10px;
    width: 270px;
 }
 .card :hover{
    max-width: 310px;

 }
 .card img{
    background-color: white;
 }
 .tittle{
    color: aquamarine;
    font-size: 10px;
 }
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:darkorchid;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.scope-one-regular {
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .linea{
    width: 80%;
    height: 1px;
    background-color: #000;
    margin: 20px  auto;
  }
  .Flex{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    
}
/*cardp*/

.cardp{
    display: inline-block;
    box-shadow: 0 4px 8px 0 black;
    overflow: hidden;
    max-width: 270px;
    background-color: aliceblue;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
 }

 .cardp img{
    background-color: white;
 }
 ul li a 
  {
    color:white;
    text-decoration: none;
  }

 @media screen and (max-width:1200px) {

    body{
        background-color: rgb(167, 40, 40);
        color:rgb(78, 78, 189);

    }
    .titulo{
        font-size: 30px;
    }
    
}
@media screen and (max-width:900px) {
    .body{
        background-color: aqua;
        color: brown;
    }
    .titulo{
        font-size: 25px;
    }
    .img{
        width: 70%;

    }
    
}
@media screen  and (max-width:600px) {
   body{
    background-color:darkgreen;
    color:aqua;
   }
   .titulo{
    font-size: 20px;
   }
   .img{
    width: 50%;
   }
    
}
@media screen and (max-width:400px){
    body{
        background-color:aquamarine;
        color: cornflowerblue;
    }
    .titulo{
        font-size: 15px;
    }
    .img{
        width:30%;
    }
   }